= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  - (Item.column_names - ['id', 'created_at', 'updated_at', 'deleted']).each do |field|
    .form-group
      = f.label field
      = f.text_field field, class: "form-control"
  .form-group
    %button.btn.btn-primary{ type: "submit" } Save
