.container-fluid#item_search
  %h1 Advanced Search

  = form_for(:q, url: "/", method: "GET") do |f|
    .form-group
      - %w[title artist label color notes].each do |field|
        .form-group
          = f.label field, "#{field.titleize}:"
          = f.text_field field, class: "form-control"

      .form-group
        = f.label :year, "Year:"
        %br
        = f.fields_for :years do |years|
          = years.number_field :minimum, value: @presenter.minimum_year
          to
          = years.number_field :maximum, value: @presenter.maximum_year

      - %w[format condition].each do |field|
        .form-group
          = f.label field, "#{field.titleize}:"
          = f.select field, [], {}, class: "form-control" do
            = options_for_select [""] + @presenter.send(field.pluralize)

      .form-group
        %button.btn.btn-primary.btn-large{ type: "submit" } Search
