- content_for :title, "#{@item.artist} - #{@item.title}"

.container-fluid#item_show
  %h1
    #{@item.artist} -
    %em= @item.title
  %h2
    #{@item.format} released in #{@item.year} on #{@item.label}
  %h3
    Added on #{@item.created_at.strftime('%A, %B %-d, %Y')}

  .row
    - if @release.image_url.present?
      .col-md-4.image
        %img.img-responsive{ src: @release.image_url }
        %br
    .col-md-8
      %p
        %b Condition:
        = @item.condition
      %p
        %b Color:
        = @item.color
      %p
        %b Price paid:
        = @item.price_paid
      - if @release.extra_info?
        %p
          %b Genre:
          = @release.genres.to_a.join(', ')
        %p
          %b Style:
          = @release.styles.to_a.join(', ')
        - if @release.tracklist
          .tracklist
            %b Tracklist
            %ul
              - @release.tracklist.each do |track|
                %li #{track.position}: #{track.title}
      - if @release.notes.present?
        %p
          %b Notes:
          %br
          - @release.notes.to_s.lines.each do |line|
            = line.html_safe
            %br
        %p
          %a{ href: @item.discogs_url, target: '_blank' } Discogs Link
      %p
        %a{ href: edit_item_path(@item) } Edit

- content_for :nav do
  %ul.nav.navbar-nav
    %li
      %a{ :href => '/stats' } stats
    %li
      %a{ :href => random_items_path } random
    %li
      %a.logout{ :href => '/logout' } log out
    %li
      %form.search.navbar-form.js-search{ :action => '/', :method => 'get' }
        .form-group
          %input.search-input.form-control{ :type => 'search', :name => 'search', :placeholder => 'Search', :value => params[:search] }

