- content_for :title, "Stats"

.container-fluid#stats
  %h1 Stats for #{number_with_delimiter(Item.count)} items:

  %h2.text-center.switcher
    %a.active{ :href => 'javascript:', 'data-target' => '.graphs' } Graphs
    |
    %a{ :href => 'javascript:', 'data-target' => '.texts' } Words
    |
    %a{ :href => '/stats/time_machine' } Time Machine

  .graphs
    %h2 Year
    = column_chart @item_stats.stats_for_field(:year), :library => google_column_charts_options

    %h2 Format
    = pie_chart @item_stats.stats_for_field(:format), :height => '600px', :library => google_pie_charts_options

    %h2 Condition
    = pie_chart @item_stats.stats_for_field(:condition), :height => '600px', :library => google_pie_charts_options

    %h2 Price Paid
    %p
      %em Prices paid fewer than 5 times are excluded
    = column_chart @item_stats.price_stats.select { |k,v| v >= 5 }, :library => google_column_charts_options

    %h2 Month added
    = column_chart items_per_month, :library => google_column_charts_options

    %h2 Day of week added
    = column_chart items_per_day_of_week, :library => google_column_charts_options

    %h2 Size over time
    = line_chart ItemCount.by_week, :library => google_column_charts_options

    %h2 Items added per day
    #cal-heatmap

  .texts.collapse.text-center
    .row
      - [:artist, :label, :color].each do |field|
        .col-md-4
          %h2 Top 10 #{field.to_s.titleize.pluralize}
          = top_10(field)
    %div{ :style => 'clear:both;' }

    %h2 Discogs URL progress
    %p
      %strong #{discogs_percent}
      of items have a Discogs URL set.
      %a{ :href => random_discogsless_url } Add another.

    %h2 Price Stats
    %h3 Minimum: #{sprintf("$%0.02f", @prices[:min_price])}
    %h3 Maximum: #{sprintf("$%0.02f",@prices[:max_price])}
    %h3 Average: #{sprintf("$%0.02f", @prices[:avg_price])}
    %h3 Median: #{sprintf("$%0.02f", @prices[:median_price])}
