- content_for :title, "Time Machine"
- table_headers = field_headers + ['Added On']

.content.time-machine
  - @time_machine.items.each do |date, items|
    %h2 Added on #{date.strftime('%A, %B %-d, %Y')}
    %table
      %tr
        - table_headers.each do |field|
          %th= field
      - items.each do |item|
        = Mustache.render(@mustache_template, item).html_safe
