- content_for :title, "Time Machine"
- table_headers = field_headers + ['Added On']

.container-fluid.time-machine.text-center
  - if @time_machine.has_items?
    - @time_machine.items.each do |date, items|
      %h2 #{pluralize(items.count, 'item')} added on #{date.strftime('%A, %B %-d, %Y')}
      %table.table
        %thead
          - table_headers.each do |field|
            %th= field
          %th
        - items.each do |item|
          = Mustache.render(@mustache_template, item).html_safe
  - else
    %h2
      %em No items added on #{@time_machine.base_date.strftime('%B %-d')}
