div.jqcloud {
  span.w10 { color: #FB4C1E; }
  span.w9  { color: #FD7653; }
  span.w8  { color: #FD977D; }
  span.w7  { color: #BF5A3F; }
  span.w6  { color: #FDCE53; }
  span.w5  { color: #FBBE1E; }
  span.w4  { color: #1A739F; }
  span.w3  { color: #094A6A; }
  span.w2  { color: #2C6079; }
  span.w1  { color: #6AACCC; }
}
