// slightly modified version of http://codepen.io/AwesomeAndre/pen/fsaxz

@mixin loading-bars($num-bars) {
  .loader {
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: 30px;
    width: #{$num-bars*15}px;
    height: 60px;
    list-style: none;

    li {
      background-color: #bf5a3f;
      width: 10px;
      height: 10px;
      float: right;
      margin-right: 5px;
    }

    @for $i from 1 through $num-bars {
      li:nth-child(#{$i}n) {
        -webkit-animation: loadbars 1s ease-in-out infinite -#{$i*.2}s;
      }
    }
  }
}

@include loading-bars(12);

@-webkit-keyframes 'loadbars' {
	0%{
		height: 10px;
		margin-top: 25px;
	}
	50%{
		height:50px;
		margin-top: 0px;
	}
	100%{
		height: 10px;
		margin-top: 25px;
	}
}

